body {
	background-color: #99ff99;

}


.header {
	height: 220px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
	background-color: #1aff8c;
}


.jump span{
	display: inline-block;
	transition: transform 0.3s;
	text-shadow: 2px 2px 4px black;
	font-size: 200%;
}

.jump span:hover {
	transform: translateY(-20px) rotate(10deg) scale(2);
}

.col-md-4 {
	border: 2px solid black;
	text-align: center;

}

.box {
	margin-left: -15px; margin-right: -15px; height: 100%
}

h2, h3 {
	text-align: center;
}



.btn {
    display:inline;
	vertical-align: bottom;
	cursor: pointer;
	position: absolute;
    bottom: 0;
	margin-left: -60px;
	margin-bottom: 3px;
}


.contentImage {
	height: 40%;
	width: 30%;
}

.contentImageBackground {
	opacity: 0.5;
	z-index: -1;
	height: 100%;
	max-width: 100%;
	position: absolute;
	margin-left: -136px;
}

.info {
	font-weight: bold;
}

@media screen and (max-width: 470px) {
	.jump span  {
		font-size: 150%;
	}	
	p {
		font-size: 70%;
	}

	

	
}