h2 {
	text-align: center;
}

input {
	padding: 4px !important;
	border-radius: 5px !important;
}

label {
	font-size: 18px;
}

input[type="checkbox"] {

  -webkit-appearance: none !important;

  -moz-appearance: none !important;

  appearance: none !important;

  display: inline-block;

  position: relative;

  background-color: #dde1e2;

  border-radius: 6px;

 

   /*padding: 4px;*/
   padding-top: 2px;

  margin-bottom: -2px;

 

  cursor: pointer;

  height: 12px;

  width: 12px;

}

 

input[type="checkbox"]:active,

input[type="checkbox"]:checked:active {

  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);

}

 

input[type="checkbox"]:checked {

  background-color: #dde1e2;

  border: 0px solid #dde1e2;

  color: #777;

}

 

input[type="checkbox"]:checked:after {

  content: '\2714';

  font-size: 10px;

  position: absolute;

  top: 2px;

  left: 2px;

  color: white;

}